extends layout

block content
  h1= title

  canvas(id="draw", resize="true")
  
  div
    button(class="btn btn-default", id="connect") Connect
  div
    span(class="spanLabel") Behaviours
    span(id="behaviours")
  div
    span(class="spanLabel") Scale (m)
    input(id="scale", type="number", value="1")
  
  h2 Current State
  
  table(class="table-condensed table-bordered", id="properties")
    tr
      th Property
      th Value
      
  div(class="tableReading")
    h3 Sensor readings
  
    table(class="table-condensed table-bordered", id="sensors")
      tr
        th Name
        th Distance(m)
      
  div(class="tableReading")
    h3 Encoder readings
  
    table(class="table-condensed table-bordered", id="encoders")
      tr
        th Name
        th Voltage
      
  script(type="text/javascript", src="javascripts/lazywebsocket.js")
  script(type="text/javascript", src="javascripts/robotcanvas.js")
  script(type="text/javascript", src="javascripts/main.js", host=host, canvas="draw")