extends layout

block content
  h1= title

  canvas(id="draw", resize="true")
  
  div
    span(class="spanLabel") Actions
    button(class="btn btn-default", id="connect") Connect
    button(class="btn btn-default", id="start") Start
    button(class="btn btn-default", id="stop") Stop
  div
    span(class="spanLabel") Scale (m)
    input(id="scale", type="number", value="1")
  
  h2 Current State
  
  table(class="table-condensed table-bordered", id="properties")
    tr
      th Property
      th Value
      
  h3 Sensor readings
  
  table(class="table-condensed table-bordered", id="sensors")
    tr
      th Name
      th Distance(m)
      
  script(type="text/javascript", src="javascripts/lazywebsocket.js")
  script(type="text/javascript", src="javascripts/canvas.js", host=host, canvas="draw")