extends layout

block content
  h1= title

  canvas(id="draw", resize="true")
  script(type="text/javascript", src="javascripts/lazywebsocket.js")
  script(type="text/javascript", src="javascripts/canvas.js", host=host, canvas="draw")